/******************** GENERAL ********************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1e213f;
  color: #d7e0ff;
  font-family: "Kumbh Sans", sans-serif;
}

header,
nav,
main,
footer {
  align-items: center;
  display: flex;
  justify-content: center;
}

/******************** LOGO ********************/
.logo-icon {
  margin: 55px 0 58px;
}

/******************** NAV ********************/
.nav {
  background: #161932;
  border-radius: 31.5px;
  display: flex;
  list-style-type: none;
  position: relative;
  padding: 8px;
  z-index: 1;
}
.nav-tab {
  border-radius: 26.5px;
  padding: 16px 25px 14px;
}
.nav-tab a {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: #d7e0ff;
  text-decoration: none;
}
.nav-tab.active {
  background: #f87070;
}
.nav-tab.active a {
  color: #161932;
}

/******************** TIMER ********************/
.timer {
  background: linear-gradient(315deg, #2e325a, #0e112a);
  border-radius: 50%;
  box-shadow: -50px -50px 100px 0 #272c5a, 50px 50px 100px 0 #121530;
  height: 410px;
  margin: 45px 0 63px;
  position: relative;
  width: 410px;
  /* decorative inner circle */
}
.timer::before {
  background: #161932;
  border-radius: 50%;
  content: "";
  height: 366px;
  left: 22px;
  position: absolute;
  top: 22px;
  width: 366px;
}
.timer-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 50px;
  position: relative;
}
.timer-content .time {
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -5px;
  line-height: 1;
  margin-top: 47px;
}
.timer-content .label {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 15px;
  line-height: 19px;
  text-transform: uppercase;
  margin-top: 25px;
}
.timer .svg-placeholder {
  border: solid 11px #f87070;
  border-radius: 50%;
  height: 339px;
  left: 35.5px;
  position: absolute;
  top: 35.5px;
  width: 339px;
}

/******************** SETTINGS MODAL ********************/
.settings-icon {
  cursor: pointer;
}

.settings {
  background: #ffffff;
  border-radius: 25px;
  opacity: 0;
  padding: 38px 0 36px;
  position: absolute;
  top: 50px;
  transition: visibility 0s linear 0.1s, opacity 0.3s ease;
  visibility: hidden;
  width: 540px;
  z-index: 5;
}
.settings.visible {
  opacity: 1;
  transition-delay: 0s;
  visibility: visible;
}
.settings-header {
  align-items: flex-start;
  border-bottom: solid 1px #e3e1e1;
  display: flex;
  padding: 0 40px;
}
.settings-header .heading {
  color: #161932;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 25px;
}
.settings-header .close-icon {
  cursor: pointer;
  margin-left: auto;
}
.settings-form {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  /* settings form sections */
  /* settings form number inputs */
  /* settings form radio inputs */
}
.settings-form .form-section {
  align-items: center;
  border-top: solid 1px #e3e1e1;
  display: flex;
  padding: 24px 0;
}
.settings-form .form-section-heading {
  color: #161932;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 16px;
  text-transform: uppercase;
}
.settings-form .form-section-time {
  border-top: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
.settings-form .form-section-time .form-section-heading {
  margin-bottom: 25px;
  width: 100%;
}
.settings-form .number-group {
  display: flex;
  flex-direction: column;
  width: 140px;
}
.settings-form .number-group-label {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: #1e213f;
  opacity: 0.4;
  margin-bottom: 8px;
}
.settings-form .number-group-input {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  background: #eff1fa;
  border: none;
  border-radius: 10px;
  color: #1e213f;
  padding: 15px;
}
.settings-form .radio-group {
  display: flex;
  margin-left: auto;
}
.settings-form .radio-group .custom-radio {
  cursor: pointer;
  height: 38px;
  position: relative;
  width: 38px;
}
.settings-form .radio-group .custom-radio::before {
  border-radius: 50%;
  content: "";
  height: 40px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 40px;
}
.settings-form .radio-group .custom-radio:not(:last-child) {
  margin-right: 18px;
}
.settings-form .radio-group .custom-radio:hover::after {
  border: solid 1px #eff1fa;
  border-radius: 50%;
  content: "";
  height: 50px;
  left: -7px;
  position: absolute;
  top: -7px;
  width: 50px;
}
.settings-form .form-section-font .custom-radio::before {
  background: #eff1fa;
  color: #565971;
  content: "Aa";
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}
.settings-form .form-section-font .custom-radio#sans::before {
  font-family: "Kumbh Sans", sans-serif;
  line-height: 46px;
}
.settings-form .form-section-font .custom-radio#slab::before {
  font-family: "Roboto Slab", serif;
  font-weight: normal;
}
.settings-form .form-section-font .custom-radio#mono::before {
  font-family: "Space Mono", monospace;
}
.settings-form .form-section-font .custom-radio.active::before {
  background: #161932;
  color: #ffffff;
}
.settings-form .form-section-color .custom-radio::before {
  content: "";
  line-height: 43px;
  text-align: center;
}
.settings-form .form-section-color .custom-radio#red::before {
  background: #f87070;
}
.settings-form .form-section-color .custom-radio#blue::before {
  background: #70f3f8;
}
.settings-form .form-section-color .custom-radio#purple::before {
  background: #d881f8;
}
.settings-form .form-section-color .custom-radio.active::before {
  content: url("./../../assets/icon-checkmark.svg");
}
.settings-form .settings-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  background: #f87070;
  bottom: -53px;
  border: none;
  border-radius: 26.5px;
  cursor: pointer;
  left: 50%;
  margin: 0 auto;
  padding: 20px 47px 17px;
  position: absolute;
  transform: translate(-50%, -50%);
}
.settings-form .settings-button:hover {
  background: #f98383;
}

/*# sourceMappingURL=main.css.map */
