$froly: #f87070;
$malibu: #70f3f8;
$heliotrope: #d881f8;
$periwinkle: #d7e0ff;
$mirage: #161932;
$port-gore: #1e213f;
$white-lilac: #eff1fa;
$white: #ffffff;

$kumbh-sans: "Kumbh Sans", sans-serif;
$roboto-slab: "Roboto Slab", serif;
$space-mono: "Space Mono", monospace;
