@import "variables";
@import "type";

$theme-color: $froly;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: $port-gore;
	color: $periwinkle;
	font-family: $kumbh-sans;
}

.section {
	display: flex;
	align-items: center;
	justify-content: center;

	&-header {
		padding: 55px 0 58px;
	} //end header-section

	&-nav {
		.nav {
			background: $mirage;
			border-radius: 31.5px;
			display: flex;
			list-style-type: none;
			padding: 8px;

			&-tab {
				border-radius: 26.5px;
				padding: 16px 25px 14px;

				a {
					color: $periwinkle;
					font-size: 14px;
					font-weight: bold;
					text-decoration: none;
				}

				&.active {
					background: $theme-color;
					a {
						color: $mirage;
					}
				}
			} //end nav-tab
		} //end nav
	} //end nav-section

	&-main {
		padding: 45px 0 63px;
		position: relative;
		z-index: -1;

		.timer {
			background: linear-gradient(315deg, #2e325a, #0e112a);
			border-radius: 50%;
			box-shadow: -50px -50px 100px 0 #272c5a, 50px 50px 100px 0 #121530;
			height: 410px;
			position: relative;
			width: 410px;

			&::before {
				background: $mirage;
				border-radius: 50%;
				content: "";
				height: 366px;
				left: 22px;
				position: absolute;
				top: 22px;
				width: 366px;
			}

			&-content {
				align-items: center;
				display: flex;
				flex-direction: column;
				height: 100%;
				justify-content: center;
				padding: 50px;
				position: relative;

				.time {
					@include heading-1;
					line-height: 1;
					margin-top: 47px;
				}

				.label {
					@include heading-3;
					margin-top: 25px;
				}
			}

			.svg-placeholder {
				border: solid 11px $froly;
				border-radius: 50%;
				height: 339px;
				left: 35.5px;
				position: absolute;
				top: 35.5px;
				width: 339px;
			}
		} //end timer
	} //end main-section
	&-footer {
		flex-direction: column;
		padding-bottom: 300px; //for development

		.settings-icon {
			margin-bottom: 40px; //for development
		}

		.settings-modal {
			background: $white;
			border-radius: 25px;
			padding: 38px 0 40px;
			width: 540px;

			.settings-heading {
				border-bottom: solid 1px #e3e1e1;
				display: flex;
				padding: 0 40px;

				h2 {
					@include heading-2;
					color: $mirage;
					line-height: 1;
					margin-bottom: 25px;
				}

				.close-placeholder {
					color: $mirage;
					font-size: 34px;
					margin-left: auto;
				}
			} //end settings-heading
			.settings-form {
				display: flex;
				flex-direction: column;
				padding: 24px 40px 0;

				.time-section {
					h4 {
						@include heading-4;
						color: $mirage;
					}
					.time-dropdowns {
						display: flex;
						justify-content: space-between;

						.dropdown-group {
							display: flex;
							flex-direction: column;
							width: 140px;

							label {
								color: $mirage;
								font-size: 12px;
								font-weight: bold;
								opacity: 0.4;
							}
						}
					} //end time-dropdowns
				} //end time-section
				.settings-button {
					background: $theme-color;
					border: none;
					border-radius: 26.5px;
					color: $white;
					cursor: pointer;
					font-size: 16px;
					font-weight: bold;
					margin: 0 auto;
					padding: 20px 47px 17px;
					position: relative;
					top: 65px;
				}
			} //end settings-form
		} //end settings-modal
	} //end footer-section
} //end sections
